*.a
*.o
*.rpt
*.pof
*.pin
*.summary
*.lck
*.elf
*.dat
*.bin
.metadata/
first_nios2_system/simulation/
first_nios2_system/testbench/
software/dsd/obj/
software/dsd_bsp/obj/
software/dsd_bsp/settings.bsp
db/
incremental_db/
software/dsd/beeth5_noise.bin