<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.modelsim.Nios2ModelsimLaunchConfiguration">
<stringAttribute key="elfFile" value="C:\Users\Oskar\Documents\DSD\software\dsd\RUN_ON_HDL_SIMULATOR_ONLY_dsd.elf"/>
<stringAttribute key="modelSimPath" value="C:\altera\12.1\modelsim_ase\win32aloem"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="RUN_ON_HDL_SIMULATOR_ONLY_dsd.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="dsd"/>
<stringAttribute key="spdPath" value="C:\Users\Oskar\Documents\DSD\first_nios2_system_tb.spd"/>
</launchConfiguration>
